%head
  %title demo-app

%body
  {{> chats}}

%template{ name: :chats }
  .panel.panel-default
    .panel-heading
      .panel-title Chats
    .panel-body
      {{>new_chat }}

  {{#each collection }}
  {{>chat}}
  {{/each }}

%template{ name: :new_chat }
  %form#new_chat
    %input.form-control{ name: :name, placeholder: "chatname" }
    %button.btn.btn-default{ type: :submit } Add

%template{ name: :chat }
  .chat
    .panel.panel-success
      .panel-heading
        .panel-title {{ name }}
      .panel-body
        {{>messages }}
      .panel-footer
        {{>new_message }}
        .btn.btn-danger.remove
          Remove chat

%template{ name: :new_message }
  %form#new_message
    %input.form-control{ name: :message, placeholder: "message" }
    %button.btn.btn-default{ type: :submit } Send

%template{ name: :messages }
  %ul.list-group
    {{#each collection }}
    {{>message }}
    {{/each}}

%template{ name: :message }
  %li.list-group-item
    {{ message }}
