%head
  %title demo-app

%body
  {{> chats}}

%template{ name: :chats }
  .panel.panel-default
    .panel-heading
      .panel-title Chats
    .panel-body
      {{>new_chat }}

  {{#each collection }}
  {{>chat}}
  {{/each }}

%template{ name: :new_chat }
  .fixed.top
    %form#new_chat
      %input.form-control{ name: :name, placeholder: "chatname" }
      %button.btn.btn-default{ type: :submit } Add

%template{ name: :chat }
  .chat
    .panel.panel-success
      .panel-heading
        .panel-title {{ name }}
      .panel-body
        .btn.btn-default.remove
          Remove
